/* General Styles for All sheets (index.html, groups.html, upcoming-matches.html) */

body {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;
}

a {
    text-decoration: none;
    color: black
}

/* General Button Design */
.button,
.watch-live,
.view-all {
    border: none;
    border-radius: 5px;
    background-color: rgb(196, 0, 0);
    padding: 10px 24px;
}

.watch-live a,
.view-all a {
    color: white;
    font-size: 18px;
}

/* Animation key frame for header button */
@keyframes arrow {
    0% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }

    50% {
        opacity: 1;
        transform: translateX(10px) scale(1);
    }

    75% {
        opacity: 1;
        transform: translateX(-10px) scale(1);
    }

    100% {
        opacity: 1;
        transform: translateX(0px) scale(1);
    }
}

/* Banner Style */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    margin: 50px 0px 0px 0px;
    border-radius: 20px;
}

.header-description {
    width: 40%;
    padding: 80px;
}

.header-description h1 {
    font-size: 42px;
    /* padding: 0px; */
    margin: 0px;
}

.header-description p {
    color: rgb(192, 192, 192);
}



.button .fa-angle-right {
    font-size: 18px;
    color: white;
    padding-left: 20px;
    animation: arrow .5s linear 0s infinite;
}

.header-image img {
    width: 33em;
    height: 33em;
    position: relative;
    bottom: -7px;
}

/* Main Section Design (Navigation & Main Body Section) */
main {
    display: flex;
    gap: 30px;
    margin: 80px 0px;
}

/* Navigation Menu Design */
nav {
    background-color: black;
    height: 230px;
    display: flex;
    flex-direction: column;
    padding: 0px 30px 0px 30px;
    border-radius: 15px;
}

nav button {
    width: 195px;
    padding: 15px;
    margin: 20px 0px;
    border-radius: 10px;
    font-size: 18px;
    color: black;
    font-weight: 500;
    border: none;
}

nav button:nth-child(2) {
    margin: 0px 0px;
}

nav button:hover {
    background-color: rgb(207, 207, 207);
}

.active {
    background-color: rgb(196, 0, 0);

}

.active:hover {
    background-color: rgb(196, 0, 0);
}

.active a {
    color: white;
}

/* Main Section Design for all sheets */
article {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 30px;
    flex-grow: 2;
}

.blog,
.match,
.groups {
    border: 1px solid rgb(219, 219, 219);
    border-radius: 15px;
    box-shadow: 14px 20px 50px -13px rgba(0, 0, 0, 0.375);
}

.blog:hover,
.match:hover,
.groups:hover {
    box-shadow: 14px 20px 50px -13px rgba(0, 0, 0, 0.545);
}

.match {
    display: flex;
    flex-direction: column;
    padding: 20px;
}

.match-between {
    display: flex;
    justify-content: space-between;

}

.match-details {
    text-align: center;
}

.groups {
    /* padding: 10px; */
    text-align: center;
    padding-bottom: 30px;
}

.comp {
    display: flex;
    gap: 50px;
    padding-left: 30px;
}

.groups h4 {
    font-size: 28px;
}

.groups span {
    /* margin-right: 50px; */
    font-size: 26px;

}

.blog img {
    width: 100%;
}

.match img {
    width: 40%;
}

.blog-details {
    padding: 20px;
}

.blog-info {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    gap: 40px;
}

.blog-details .blog-button {
    padding: 6px 15px;
    border: 1px solid black;
    border-radius: 7px;
    background-color: transparent;
    cursor: pointer;

}

.blog-details .blog-button:hover {
    background-color: #f1f1f1;
}

.blog-info span i {
    padding-right: 15px;
}

/* Footer Design */
footer {
    background: #000000;
    margin: 0 -9999rem;
    padding: 0.25rem 9999rem;
}

.footer-wrapper {
    margin: 0 auto;
    color: white;
    text-align: center;
}

footer a {
    color: gray;
}

hr {
    margin: 50px 0px;
    border: 1px solid rgba(255, 255, 255, 0.1);
}

.footer-menu {
    display: flex;
    justify-content: center;
}

.footer-menu a {
    margin: 30px;
}

.footer-menu a:hover {
    color: rgb(192, 192, 192);
}

.social-icon {
    margin: 0 auto;
    width: 20%;
    font-size: 32px;
    display: flex;
    justify-content: space-between;
}

.social-icon span a:hover {
    color: rgb(239, 237, 237);
}

/* Mobile View */

@media screen and (max-width : 576px) {
    header {
        flex-direction: column;
    }

    .header-description {
        width: 80%;
        padding: 40px;
        text-align: center;
    }

    .header-description h1 {
        font-size: 36px;
    }

    .header-description p {
        height: 40px;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    main {
        flex-direction: column;
        margin: 0px;
        align-items: center;
        gap: 0px;
    }

    nav {
        background-color: transparent;
        padding: 0px;
    }

    article {
        grid-template-columns: repeat(1, 1fr);
        margin-bottom: 30px;
    }

    .footer-menu {
        flex-direction: column;
    }

    .social-icon {
        width: 60%;
    }

}

/* Tab View */

.view-all {
    margin-bottom: 30px;
    display: none;
}

@media only screen and (min-width : 834px) and (max-width : 1080px) {
    header {
        margin: 10px;
    }

    .header-image img {
        width: 26em;
        height: 26em;
    }

    .header-description {
        padding: 40px 0px 20px 40px;
    }

    main {
        flex-direction: column;
        margin: 0px;
        align-items: center;
        gap: 0px;
    }

    nav {
        height: 80px;
        flex-direction: row;
        align-items: center;
        background-color: transparent;
        padding: 0px;
        gap: 80px;
    }

    article {
        grid-template-columns: repeat(2, 1fr);
        margin-bottom: 30px;
    }

    .view-all {
        display: flex;
    }

    .footer-menu {
        flex-wrap: wrap;
    }
}